<p>
  <%= link_to "new", new_build_url %>
</p>

<% @builds.each do |build| %>
  <div class="build">
    <%= link_to build.ipa_digest, build.ipa.url %>
    <%= link_to "download", download_url(build.ipa_digest) %>
    <%= link_to "plist", plist_url(build.ipa_digest) %>
  </div>
<% end %>
