<%= link_to(app, class: "list-group-item #{"active" if @app && @app.id == app.id}") do %>
  <h4 style="padding: 0; margin: 0;">
    <%= image_tag(app.icon.icon.url, class: "img-rounded") %>&nbsp;&nbsp;
    <%= app.name %>
  </h4>
<% end %>
